<h1 align="center">Employee Dashboard: Section</h1>
<div align="center">
 <table border=0 cellpadding=20 cellspacing=10 width="600" height="200">
 <tr><th width="400" bgcolor="lightgrey">My Details Section</th>
 <th width="200" bgcolor="lightgrey">My Manager Details Section</th></tr>
</table>
<br>
 <table border=0 width="600" height="130" cellspacing=10>
 <tr><th bgcolor="lightgrey">My Leave Application section</th></tr>
 </table>
 <br>
  <table border=0 width="600" height="130" cellspacing=10>
  <tr><th bgcolor="lightgrey">My Reporting Emolyees Leave Applications</th></tr>
  </table>
</div>
    